<div class="container">
    <h3 class="header">Login</h3>
    <form>
        <div class="row">
            <div class="col-3">User Name: </div>
            <div class="col-9"><input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Please Enter User Name"></div>
        </div>
        <div class="row mt10">
            <div class="col-3">Password: </div>
            <div class="col-9"><input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Please Enter User Password"></div>
        </div>
        <div class="row mt20">
            <div class="col"><input type="submit" id="login" value="Log In" (click)="login()"></div>
        </div>        
    </form>
</div>